<div class="mat-elevation-z8">
  <mat-paginator [length]="dataSource?.resultsLength" [pageSize]="dataSource?.pageSize"></mat-paginator>

  <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
    </ng-container>

    <!-- Reference Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reference </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.friendlyName()}} </mat-cell>
    </ng-container>

    <!-- Timestamp Column -->
    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.created_at}} </mat-cell>
    </ng-container>

    <!-- Applications Column -->
    <ng-container matColumnDef="applications">
      <mat-header-cell *matHeaderCellDef> Applications </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngFor="let idMap of idMapFilter(row.id)">
          <img *ngIf="productInstanceFilter(idMap)" aria-hidden src="{{ productInstanceFilter(idMap).logo }}" height="25" />
        </span>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="openDialog(row)">
            <mat-icon>search</mat-icon>
            Search similar
          </button>
          <button mat-menu-item [matMenuTriggerFor]="sendToMenu">
            <mat-icon>forward</mat-icon>
            Send to
          </button>
        </mat-menu>

        <mat-menu #sendToMenu="matMenu">
          <button mat-menu-item *ngFor="let productInstance of _parent.productInstances" (click)="sendEntityToApplication(row, productInstance)">
            <img aria-hidden src="{{ productInstance.logo }}" height="25" />
            {{ productInstance.name }}
          </button>
        </mat-menu>

        <button color="primary" mat-icon-button title="Details" (click)="navigateToDetails(row)">
           <mat-icon>zoom_in</mat-icon>
        </button>

        <button *ngIf="row.status != 'ARCHIVED'" color="warn" mat-icon-button title="Archive" (click)="archiveEntity(row)">
           <mat-icon>delete</mat-icon>
        </button>

        <button *ngIf="row.status == 'ARCHIVED'" color="primary" mat-icon-button title="Restore" (click)="restoreEntity(row)">
           <mat-icon>restore</mat-icon>
        </button>

        <button color="primary" mat-icon-button [matMenuTriggerFor]="appMenu" title="More actions">
           <mat-icon>more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="dataSource?.displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataSource?.displayedColumns;"></mat-row>
  </mat-table>
</div>
