<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <div class="col-2">
        <span>Connec!™ UI</span>
      </div>
      <div class="col-10">
        <span>Contacts</span>
      </div>
    </mat-toolbar>
  </div>

  <div class="row">
    <div class="col-2"></div>

    <div class="col-10">
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
