<div *ngIf="entity$ | async">
  <div class="row">
    <div class="col-1">
      <button mat-icon-button (click)="navigateToCollection(entity.resource_type)">
        <mat-icon aria-label="Back">chevron_left</mat-icon> Back
      </button>
    </div>
    <div class="col-11">
      <h2>{{ entity.friendlyName() }}</h2>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>View details</mat-panel-title>
      </mat-expansion-panel-header>

      <app-entity-attribute [entity]="entity"></app-entity-attribute>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>View matching records</mat-panel-title>
      </mat-expansion-panel-header>

      <span *ngIf="matchingRecords?.entities.length == 0">No matching records found</span>

      <table class="table table-striped" *ngIf="matchingRecords?.entities.length > 0">
        <tbody>
          <tr *ngFor="let matchingRecord of matchingRecords?.entities">
            <td>
              {{ matchingRecord.friendlyName() }}
            </td>
            <td>
              <button color="primary" mat-icon-button title="Details" (click)="navigateToDetails(matchingRecord)">
                <mat-icon>zoom_in</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
