.merge-attribute-name {
  font-weight: 800;
}

.merge-attribute-row {
  width: 100%;
}

.mat-button-toggle-label {
  width: 100%;
}

.mat-button-toggle {
  width: 100%;
  height: 100%;
}

.mat-button-toggle-checked {
  background: #874ac7;
  color: rgba(255,255,255,.87);
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
